body {
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Source Code Pro', 'sans-serif', 'serif';
}

.navbar-default .navbar-nav > li > a.github {
    color: #EDAC65;
}

.navbar-default {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
    text-transform: capitalize;
}

.question {
    text-transform: none;
}

.form-control, input {
    border: none;
}

header {
    padding-top: 75px;
    padding-bottom: 35px;
    color: #FFFFFF;
    background: #4C8AB4;
    background: -moz-linear-gradient(top, #4C8AB4 0%, #1E557A 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4C8AB4 0%,#1E557A 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4C8AB4 0%,#1E557A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C8AB4', endColorstr='#1E557A',GradientType=0 ); /* IE6-9 */
}

img.screenshot {
    margin: 0 auto 20px;
}

header .header-title {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Source Code Pro', 'sans-serif', 'serif';
    font-size: 2em;
    font-weight: 700;
}

header .header-subtitle {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Source Code Pro', 'sans-serif', 'serif';
    font-size: 1.4em;
    font-weight: 500;
}

header .description {
    text-align: center;
    display: block;
    font-size: 1.25em;
    font-weight: 300;
}

header .divider {
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}

header .info-title {
    text-transform: uppercase;
    font-family: Source Code Pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}

@media(min-width:768px) {

    header .header-title {
        font-size: 3.75em;
    }

    header .header-subtitle {
        font-size: 1.8em;
    }

    header .description {
        font-size: 1.5em;
    }
}

section {
    padding: 70px 0;
}

section h2 {
    margin: 0 0 30px 0;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #BDC1C1;
}

section section {
    padding-bottom: 0px;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    
    section h2 {
        font-size: 1.9em;
    }
}


footer {
    padding: 25px 0;
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
}

table {
    border: 1px solid #CBCBCB;
    margin-top: 20px;
}

.download-table td > a.download {
    float: right;
}

.download-table > tbody > tr:nth-child(2n) > td, .download-table > tbody > tr:nth-child(2n) > th {
    background-color: #FFFFFF;
}

.download-table > tbody > tr:nth-child(2n+1) > td, .download-table > tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}

pre.code {
    font-family: Consolas;
    font-size: 13px;
    color: black;
    background: #FFFFFF;
}

.code-comment {
    color: #008000;
}

.code-keyword {
    color: #0000FF;
}

.code-meta {
    color: #808080;
}

.code-type {
    color: #2B91AF
}

.paypal {
    margin-top: 25px;
}

.scroll-to-top {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 2%;
    display: none;
    z-index: 999;
} 