<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-title">Tabster</span>
                <span class="header-subtitle">ASCII Tablature&#58; Simplified</span>
                <div class="divider"></div>
                <div class="col-md-6">
                    <a class="fancybox" href="/images/preview-library.png">
                    <img src="/images/preview-library.png" class="img-responsive screenshot">
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="fancybox" href="/images/preview-search.png">
                    <img src="/images/preview-search.png" class="img-responsive screenshot">
                    </a>
                </div>
                <span class="description">{{ site.description }}</span>
                <div class="divider"></div>
                <div class="col-md-4">
                    <span class="info-title"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Create</span>
                    <p>Create your own tabs from scratch or import them from a variety of formats, including:</p>
                    <ul>
                        <li>Text</li>
                        <li>HTML</li>
                        <li>Portable Document Format (.pdf)</li>
                        <li>Rich Text Format (.rtf)</li>
                        <li>Word Documents (.docx)</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="info-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Organize</span>
                    <p>Easily organize all of your tabs in one place, where you can search and edit them with ease.</p>
                    <p>Create playlists to better organize your library.</p>
                </div>
                <div class="col-md-4">
                    <span class="info-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Discover</span>
                    <p>Seemlessly search for new tabs from popular tablature networks and add them to your library with a single click.</p>
                    <p>Natively-supported tablature archives include:</p>
                    <ul>
                        <li><a href="http://www.ultimate-guitar.com/" target="_blank">Ultimate Guitar</a></li>
                        <li><a href="http://www.guitartabs.cc/" target="_blank">Guitartabs.cc</a></li>
                        <li><a href="http://www.songsterr.com/" target="_blank">Songsterr</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>